@import url(https://fonts.googleapis.com/css?family=Nunito:700,300);

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;	
	font-size: 16px;
	font-family: Arial, sans-serif;
}

a {
	margin-right: 0.625em;
}

.next,.prev,.galleryClose,.imgInfo {
	display: none;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	height: auto;
	background-color: rgba(0, 0, 0, 0.7);
	display: block;
	z-index: 9999;
}

.frontGallery {
	position: absolute;
	margin: 0 auto;
	padding: 0 0 30px 0;
	width: 100%;
	height: auto;
	display: block;
	z-index: 99999;
}

.frontGallery .imgContainer {
	position: relative;
	margin: 2em auto;
	padding: 0;
	height: auto;
	width: 60em;
	max-width: 60%;
	text-align: center;
	display: block;
}

.frontGallery img {	
	margin: 0 auto;
	max-width: 100%;
	width: auto;
}

.frontGallery .imgBox {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 60em;
	max-width: 60%;
	height: auto;
	display: block;
}

.frontGallery .galleryControls {
    position: absolute;
    top: 0;
    right: -5em;
    display: block;
    width: auto;
    height: auto;
    z-index: 999999;
}    

.frontGallery .galleryClose {
	float: left;
	margin: 0;
	padding: 0;
	width: 1.438em;
	height: 1.438em;
	font-family: 'Nunito', sans-serif;
	font-size: 2.5em;
	line-height: 1.3em;		
	font-weight: 700;
	text-align: center;	
	display: block;
	background-color: rgba(255, 255, 255, 1);
	cursor: pointer;
}

.frontGallery .next, .frontGallery .prev {
	clear: both;
	float: left;
	margin: 0.4em 0 0 0;
	width: 1.438em;
	height: auto;
	color: #000;
	font-family: 'Nunito', sans-serif;
	font-size: 2.5em;
	line-height: 1.438em;	
	font-weight: 700; 
	text-align: center;	
	background-color: rgba(255, 255, 255, 1);
	display: block;
	cursor: pointer;
}

.frontGallery .imgTitle {
	float: left;
	margin: 0 auto 1em auto;
	padding: 1em;
	width: 41.6em;
	font-size: 1.375em;
	font-weight: 700;
	color: #000;
	background: #fff;
	display: block;
}

.frontGallery .imgText {
	float: left;
	margin: 0 0 1em 0;
	padding: 1em;
	width: 48em;
	font-size: 1.2em;
	line-height: 1.8em;
	font-weight: 300;
	color: #000;
	background: #fff;
	display: block;
}

.frontGallery .imgTitle.hidden, .frontGallery .imgText.hidden {
	display: none;
}

/* Phone */
@media screen and (min-width:280px) and (max-width:480px) {
	.frontGallery {
		max-width: 90%;
		padding: 0 10% 0 0;
		height: auto;
		min-height: 100%;
		display: table;
	}

	.frontGallery .imgContainer {
		margin: 2em auto 1em auto;
		width: 100%;
		padding: 0;
	}

	.frontGallery .imgBox {
		margin: 0 auto;
		padding: 0.4em 4%;
		width: 90%;
	}

	.frontGallery .imgText {
		width: 80%; 
	}
	
	.frontGallery .imgTitle {
	 	width: 78%;
	 }

	.frontGallery .galleryControls {
		right: -40%;
	} 
} 
